<style>
.html-accordion .toggle {
  display: none;
}
.html-accordion .option {
  position: relative;
  margin-bottom: 0;
}
.html-accordion svg {
    fill: currentColor;
}
.html-accordion .title, .html-accordion .content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}
.html-accordion .title {
  background: #f6f6f6;
  padding: 1.25rem 0;
  display: flex;
  font-weight: bold;
  font-size: 1.125rem;
  color: #383838;
  line-height: 1.25rem;
  border-bottom: 1px solid #c2c2c2;
  justify-content: space-between;
  padding-right: 0;
  cursor: pointer;
}
.html-accordion .title:after, .html-accordion .title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  transition: all 0.2s;
}
.html-accordion .title .minus-icon {
  display: none;
}
.html-accordion .title .plus-icon {
  display: block;
}
.html-accordion .title .icons {
  float: right;
}
.html-accordion .title .icons svg {
  width: 18px;
  height: 18px;
}
.html-accordion .title:after {
  transform: rotate(90deg);
}
.html-accordion .content {
  max-height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
}
.html-accordion .content p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #383838;
  margin-bottom: 35px;
}
.html-accordion .content p:last-child {
  margin-bottom: 0;
}
.html-accordion .content ul li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #383838;
  margin-bottom: 10px;
}
.html-accordion .content p:only-child {
  margin-bottom: 0;
}
.html-accordion .toggle:checked {
  /* box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd; */
}
.html-accordion .toggle:checked + .title + .content {
  max-height: 500px;
}
.html-accordion .toggle:checked + .title:before {
  transform: rotate(90deg) !important;
}
.html-accordion .toggle:checked + .title {
  border-bottom-color: transparent;
  padding-bottom: 8px;
}
.html-accordion .toggle:checked + .title .minus-icon {
  display: block;
}
.html-accordion .toggle:checked + .title .plus-icon {
  display: none;
}

</style>
<div class="html-accordion">
  <div class="option">
    <input type="checkbox" id="toggle1html" class="toggle" />
    <label class="title" for="toggle1html">
      <span class="txt">Who is this agreement with?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle2html" class="toggle" />
    <label class="title" for="toggle2html">
      <span class="txt">How do I accept these T&amp;Cs?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>You accept these T&amp;Cs by doing any of the following things:</p>
      <ul>
        <li>
          giving us a written or electronic signature or confirmation, or
          telling us orally that you accept;
        </li>
        <li>activating, using or paying for the Service or a Device; or</li>
        <li>opening the Device box.</li>
      </ul>
      <p>
        If you don’t want to accept these T&amp;Cs, don’t do any of these
        things.
      </p>
      <p>
        When you accept, you're telling us that you are of legal age (which
        means you are either legally emancipated, or have reached the age of
        majority as defined in your jurisdiction) and that you are able to enter
        into a contract. If you accept for an organization, you're telling us
        that you are authorized to bind that organization, and references to
        "you" in these T&amp;Cs may mean the organization.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle3html" class="toggle" />
    <label class="title" for="toggle3html">
      <span class="txt">Text</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle4html" class="toggle" />
    <label class="title" for="toggle4html">
      <span class="txt">Are there any other terms that apply to me?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle5html" class="toggle" />
    <label class="title" for="toggle5html">
      <span class="txt">How do I resolve disputes with T-Mobile?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle6html" class="toggle" />
    <label class="title" for="toggle6html">
      <span class="txt">What is a rate plan?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle7html" class="toggle" />
    <label class="title" for="toggle7html">
      <span class="txt">How will I be charged for data usage?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle8html" class="toggle" />
    <label class="title" for="toggle8html">
      <span class="txt">
        Are there separate terms for prepaid customers?
      </span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle9html" class="toggle" />
    <label class="title" for="toggle9html">
      <span class="txt">
        How do I give other people access to my account?
      </span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle10html" class="toggle" />
    <label class="title" for="toggle10html">
      <span class="txt">Where, how, and when does my service work?</span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>

  <div class="option">
    <input type="checkbox" id="toggle11html" class="toggle" />
    <label class="title" for="toggle11html">
      <span class="txt">
        What are the permitted and prohibited uses for my device and the
        services?
      </span>
      <span class="plus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z"
            />
          </svg>
        </span>
      </span>
      <span class="minus-icon">
        <span class="icons">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
            <path
              fill-rule="nonzero"
              d="M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z"
            />
          </svg>
        </span>
      </span>
    </label>
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
</div>
