<style>
  .clearfix:after {
    content: ' ';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .hidden-lg {
    display: none;
  }
  .visible-lg {
    display: block;
  }
  .plans-container .plans-col {
    width: 100%;
    padding: 0 15px;
    float: left;
    background: #e20074;
    border-radius: 10px;
    height: 12rem;
    padding: 2rem 0 0 1.5rem;
    margin-right: 5px;
    display: flex;
  }
  .plans-container .plans-col .info-wrap {
    width: 60%;
    float: left;
    padding-right: 2rem;
  }
  .plans-container .plans-col .info-wrap .title {
    font-size: 0.75rem;
    color: #fff;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  .plans-container .plans-col .info-wrap p {
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: #fff;
    font-weight: 600;
  }
  .plans-container .plans-col .img-wrap {
    width: 40%;
    float: right;
    height: 100%;
  }
  .plans-container .plans-col .img-wrap .img-fluid {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
  }


  @media (max-width: 767px) {
    .hidden-xs {
      display: none;
    }
    .visible-xs {
      display: block;
    }
    .plans-container {
      padding: 0;
    }
    .plans-container .plans-col {
      width: 100%;
    }
    .plans-container .plans-col:last-child {
      margin-top: 5px;
    }
    .plans-container .plans-col .info-wrap p {
      font-size: 1rem;
    }
  }
</style>

<section class='plans-container clearfix'>
  <div class='plans-col'>
    <div class='info-wrap'>
      <h4 class='title'>Hybrid Plans</h4>
      <p>Plans that mix Prepaid facilities and Postpaid benefits</p>
    </div>
    <div class='img-wrap'>
      <img
        src='https://i.ibb.co/qj1NPtz/Screen-Shot-2019-03-15-at-4-09-16-PM.png'
        class='img-fluid'
      />
    </div>
  </div>
</section>
