<style type="text/stylesheet">
.clearfix:after {
  content: ' ';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.hidden-lg {
  display: none;
}
.visible-lg {
  display: block;
}
.plans-container {
  background: #000;
  padding: 12rem 12.8rem;
}
.plans-container .plans-col {
  width: calc(50% - 2.5px);
  padding: 0 15px;
  float: left;
  background: #e20074;
  border-radius: 10px;
  height: 24rem;
  padding: 4rem 0 0 3rem;
  margin-right: 5px;
  display: flex;
}
.plans-container .plans-col .info-wrap {
  width: 60%;
  float: left;
  padding-right: 4rem;
}
.plans-container .plans-col .info-wrap .title {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.plans-container .plans-col .info-wrap p {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
  font-weight: 600;
}
.plans-container .plans-col .img-wrap {
  width: 40%;
  float: right;
  height: 100%;
}
.plans-container .plans-col .img-wrap .img-fluid {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
}
.plans-container .plans-col:last-child {
  margin-right: 0;
  width: calc(50% - 2.5px);
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .visible-xs {
    display: block;
  }
  .plans-container {
    padding: 5rem 2.5rem;
  }
  .plans-container .plans-col {
    width: 100%;
    margin-right: 0;
  }
  .plans-container .plans-col:last-child {
    margin-top: 5px;
    width: 100%;
  }
  .plans-container .plans-col .info-wrap p {
    font-size: 2rem;
  }
}
</style>

<div>
    <section class='plans-container clearfix'>
      <div class='plans-col'>
        <div class='info-wrap'>
          <h4 class='title'>Data Only Plans</h4>
          <p>
            Only need to surf? <br />
            These may be the plans you need.
          </p>
        </div>
        <div class='img-wrap'>
          <img
            src='https://i.ibb.co/ZgcTm30/Screen-Shot-2019-03-18-at-2-18-06-PM.png'
            class='img-fluid'
          />
        </div>
      </div>
    </section>
</div>
