<style>
.faqsPanel {
	 margin-left: 0rem;
}
 .faqs-html-accordion .toggle {
	 display: none;
}
 .faqs-html-accordion svg {
	 fill: currentColor;
}
 .faqs-html-accordion .option {
	 position: relative;
	 margin-bottom: 0;
}
 .faqs-html-accordion .title, .faqs-html-accordion .content {
	 backface-visibility: hidden;
	 transform: translateZ(0);
	 transition: all 0.2s;
}
 .faqs-html-accordion .title {
	 background: transparent;
   position: relative;
	 padding: 1.4rem 0;
	 display: flex;
	 font-weight: bold;
	 font-size: 1.125rem;
	 color: #fff;
	 line-height: 1.25rem;
	 border-bottom: 1px solid #c2c2c2;
	 justify-content: space-between;
   /* used important here coz this is overwrites in styles.ts file */
	 padding-right: 1.5rem !important;
	 cursor: pointer;
}
 .faqs-html-accordion .title:after, .faqs-html-accordion .title:before {
	 content: '';
	 position: absolute;
	 right: 1.25em;
	 top: 1.25em;
	 width: 2px;
	 height: 0.75em;
	 transition: all 0.2s;
}
.faqs-html-accordion .title .minus-icon,
.faqs-html-accordion .title .plus-icon {
  position: absolute;
  right:0;
  top: 1.125rem;
}
 .faqs-html-accordion .title .minus-icon {
	 display: none;
}
 .faqs-html-accordion .title .plus-icon {
	 display: block;
}
 .faqs-html-accordion .title .icons {
	 float: right;
}
 .faqs-html-accordion .title .icons svg {
	 width: 1.125rem;
	 height: 1.125rem;
	 margin-top: 5px;
}
 .faqs-html-accordion .title:after {
	 transform: rotate(90deg);
}
 .faqs-html-accordion .content {
	 max-height: 0;
	 overflow: hidden;
	 background-color: transparent;
}
 .faqs-html-accordion .content p {
	 margin: 0;
	 padding: 0;
	 font-size: 1rem;
	 line-height: 1.5rem;
	 color: #fff;
	 margin-bottom: 35px;
}
 .faqs-html-accordion .content p:last-child {
	 margin-bottom: 0;
}
 .faqs-html-accordion .content ul li {
	 margin: 0;
	 padding: 0;
	 font-size: 1rem;
	 line-height: 1.5rem;
	 color: #fff;
	 margin-bottom: 10px;
}
 .faqs-html-accordion .content p:only-child {
	 margin-bottom: 0;
}
 .faqs-html-accordion .toggle:checked + .title + .content {
	 max-height: 500px;
}
 .faqs-html-accordion .toggle:checked + .title:before {
	 transform: rotate(90deg) !important;
}
 .faqs-html-accordion .toggle:checked + .title {
	 border-bottom-color: transparent;
}
 .faqs-html-accordion .toggle:checked + .title .minus-icon {
	 display: block;
}
 .faqs-html-accordion .toggle:checked + .title .plus-icon {
	 display: none;
}
 .faqs-addons-wrap {
	 margin-top: 3.75rem;
   display: flex;
   margin: 3.75rem -1.25rem 0rem;
    padding: 0 1.25rem;
}
 .faqs-addons-wrap h4 {
	 font-size: 1rem;
	 margin-bottom: 0.75rem;
	 line-height: 1.5rem;
	 color: #fff;
	 font-weight: bold;
}
 .faqs-addons-wrap p {
	 font-size: 0.875rem;
	 margin-bottom: 0.75rem;
	 line-height: 1.25rem;
	 color: #ededed;
	 font-weight: normal;
	 flex: 1 0 auto;
}
 .faqs-addons-wrap .actions-wrap {
	 font-size: 0.75rem;
	 margin-bottom: 0.75rem;
	 line-height: 1rem;
	 color: #fff;
	 font-weight: bold;
	 display: flex;
	 align-items: center;
}
 .faqs-addons-wrap svg {
	 fill: currentColor;
}
 .faqs-addons-wrap .actions-wrap .icons-wrap {
	 margin-left: 0.375rem;
	 height: 16px;
	 transition: transform 0.3s ease-out;
}
 .faqs-addons-wrap .actions-wrap .icons-wrap svg {
	 width: 16px;
	 height: 16px;
}
 .faqs-addons-wrap .wrap-panel {
	 padding-right: 2.5rem;
	 height: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 flex-direction: column;
	 align-items: unset;
   /* width: 60%;
  flex-basis: 60%; */
  width: 70%;
  flex-basis: 70%;
  flex-shrink: 0;
  min-height: 136px;
}
 .faqs-addons-wrap .actions-wrap:hover .icons-wrap {
	 transform: translateX(4px);
}
/************ Add-ons Styles ************/
/*************** Horizontal Scroll *****************/

 .faqs-addons-wrap{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
 }
.faqs-addons-wrap ::-webkit-scrollbar {
    display: none;
    width: 0 !important ;
  }
/*************** Horizontal Scroll *****************/

 @media (min-width: 768px) {
	 .faqsPanel {
		 margin-left: 13.5rem;
	}
	 .faqs-addons-wrap {
		 margin-top: 6rem;
     display: flex;
    flex-wrap: wrap;
	}
	 .faqs-html-accordion .title .icons svg {
		 width: 1rem;
		 height: 1rem;
		 margin-top: 0;
	}
  .faqs-addons-wrap .wrap-panel {
    width: 33.333%;
    flex-basis: 33.333%;
  }
}


</style>
<div class='faqsPanel'>
  <div class='faqs-html-accordion'>
    <div class='option'>
      <input type='checkbox' id='toggle1' class='toggle' />
      <label class='title' for='toggle1'>
        <span class='txt'>
          How do I change my customer center and telecom login password?
        </span>
        <span class='plus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z'
              />
            </svg>
          </span>
        </span>
        <span class='minus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z'
              />
            </svg>
          </span>
        </span>
      </label>
      <div class='content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>

    <div class='option'>
      <input type='checkbox' id='toggle2' class='toggle' />
      <label class='title' for='toggle2'>
        <span class='txt'>
          How do I get the Magenta ONE Advantage-Double Data Volume?
        </span>
        <span class='plus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z'
              />
            </svg>
          </span>
        </span>
        <span class='minus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z'
              />
            </svg>
          </span>
        </span>
      </label>
      <div class='content'>
        <p>
          You accept these T&amp;Cs by doing any of the following things:
        </p>
        <ul>
          <li>
            giving us a written or electronic signature or confirmation,
            or telling us orally that you accept;
          </li>
          <li>
            activating, using or paying for the Service or a Device; or
          </li>
          <li>opening the Device box.</li>
        </ul>
        <p>
          If you don’t want to accept these T&amp;Cs, don’t do any of
          these things.
        </p>
        <p>
          When you accept, you're telling us that you are of legal age
          (which means you are either legally emancipated, or have reached
          the age of majority as defined in your jurisdiction) and that
          you are able to enter into a contract. If you accept for an
          organization, you're telling us that you are authorized to bind
          that organization, and references to "you" in these T&amp;Cs may
          mean the organization.
        </p>
      </div>
    </div>

    <div class='option'>
      <input type='checkbox' id='toggle3' class='toggle' />
      <label class='title' for='toggle3'>
        <span class='txt'>
          Where can I see my telecom landline and mobile bills online?
        </span>
        <span class='plus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 30.5h-25v-25a1.5 1.5 0 0 0-3 0v25h-25a1.5 1.5 0 0 0 0 3h25v25a1.5 1.5 0 0 0 3 0v-25h25a1.5 1.5 0 0 0 0-3z'
              />
            </svg>
          </span>
        </span>
        <span class='minus-icon'>
          <span class='icons'>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'>
              <path
                fill-rule='nonzero'
                d='M58.5 33a1.5 1.5 0 0 0 0-3h-53a1.5 1.5 0 0 0 0 3h53z'
              />
            </svg>
          </span>
        </span>
      </label>
      <div class='content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
  <div class='faqs-addons-wrap'>
        <div class='wrap-panel'>
          <h4>Forum</h4>
          <p>
            Join the discussion and get answers in the best community.
          </p>
          <a href='javascript:void(0)' class='actions-wrap'>
            Check the Community
            <i class='icons-wrap'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='64'
                height='64'
                viewBox='0 0 64 64'
              >
                <path
                  fill-rule='nonzero'
                  d='M45 30.5H7.5a1.5 1.5 0 0 0 0 3H45V45l13-13-13-13v11.5z'
                />
              </svg>
            </i>
          </a>
        </div>
        <div class='wrap-panel'>
          <h4>Video Tutorials</h4>
          <p>Video tutorials about devices and Telekom services.</p>
          <a href='javascript:void(0)' class='actions-wrap'>
            Watch Tutorials
            <i class='icons-wrap'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='64'
                height='64'
                viewBox='0 0 64 64'
              >
                <path
                  fill-rule='nonzero'
                  d='M45 30.5H7.5a1.5 1.5 0 0 0 0 3H45V45l13-13-13-13v11.5z'
                />
              </svg>
            </i>
          </a>
        </div>
        <div class='wrap-panel'>
          <h4>Contact Us</h4>
          <p>Drop us a line, Call us or find a store nearby.</p>
          <a href='javascript:void(0)' class='actions-wrap'>
            Reach Us
            <i class='icons-wrap'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='64'
                height='64'
                viewBox='0 0 64 64'
              >
                <path
                  fill-rule='nonzero'
                  d='M45 30.5H7.5a1.5 1.5 0 0 0 0 3H45V45l13-13-13-13v11.5z'
                />
              </svg>
            </i>
          </a>
        </div>
  </div>
</div>
