<style>.clearfix:after{content: ' '; visibility: hidden; display: block; height: 0; clear: both;}.product-detailed-wrapper{background: #f6f6f6; padding: 0 2.5rem;}.product-detailed-wrapper .pb-3x{padding-bottom: 3.75rem;}.product-detailed-wrapper.white-bg{background: #fff;}.product-detailed-wrapper .cols-xs{width: 100%; float: left;}.product-detailed-wrapper .cols-xs .cols-6-xs{width: 70%;}.product-detailed-wrapper .cols-xs .cols-4-xs{width: 30%;}.product-detailed-wrapper .head-title{font-size: 5rem; padding: 8rem 0rem; color: #383838; font-weight: 900;}.product-detailed-wrapper .head-title.pb-3rem{padding-bottom: 3rem;}.product-detailed-wrapper .list-wrapper .list{width: 50%; float: left; margin-bottom: 3.75rem;}.product-detailed-wrapper .list-wrapper .list:last-child{margin-bottom: 0;}.product-detailed-wrapper .list-wrapper .list .title, .product-detailed-wrapper .list-wrapper .list .info{display: block;}.product-detailed-wrapper .list-wrapper .list .title{font-size: 3.75rem; line-height: 3.75rem; color: #6c6c6c; font-weight: 600;}.product-detailed-wrapper .list-wrapper .list .info{color: #a3a3a3; font-size: 2rem; line-height: 3rem;}.product-detailed-wrapper .img-wrap{padding: 4rem 0 8rem;}.product-detailed-wrapper .img-wrap .img-fluid{width: 100%; max-height: 500px;}.product-detailed-wrapper .text-wrap p{color: #6c6c6c; line-height: 3rem; font-size: 2.25rem;}.product-detailed-wrapper .details-wrap{padding: 0;}.product-detailed-wrapper .details-wrap .info-head{color: #383838; font-size: 2.5rem; line-height: 3rem; display: block;}.product-detailed-wrapper .details-wrap .sub-info{color: #a3a3a3; font-size: 1.5rem; line-height: 2rem; display: block;}.product-detailed-wrapper .pb-4rem{padding-bottom: 4rem;}.product-detailed-wrapper .float-left{float: left;}.product-detailed-wrapper .pr-15px{padding-right: 15px;}.product-detailed-wrapper .mb-3rem{margin-bottom: 3rem;}.product-detailed-wrapper .hidden-xs{display: none;}.product-detailed-wrapper .visible-xs{display: block;}.product-detailed-wrapper .d-flex{display: flex; align-items: center; flex-wrap: wrap;}.product-detailed-wrapper .pr-8rem{padding-right: 8rem;}.product-detailed-wrapper .cols-xs.cols-md-pull-right.pr-8rem{padding-right: 0rem;}@media (min-width: 768px){.product-detailed-wrapper{padding: 8rem 2.5rem;}.product-detailed-wrapper .cols-xs{width: 50%; position: relative;}.product-detailed-wrapper .cols-xs.cols-md-push-left{left: 50%;}.product-detailed-wrapper .cols-xs.cols-md-pull-right{right: 50%;}.product-detailed-wrapper .cols-xs.cols-md-pull-right.pr-8rem{padding-right: 8rem;}.product-detailed-wrapper .cols-xs.cols-md-pull-right.pr-8rem .img-wrap{padding-left: 0rem;}.product-detailed-wrapper .visible-lg{display: block;}.product-detailed-wrapper .hidden-lg{display: none;}.product-detailed-wrapper .img-wrap{padding: 0 3rem;}.product-detailed-wrapper .text-wrap p{line-height: 3.125rem; font-size: 2.8125rem; padding-right: 4rem;}.product-detailed-wrapper .details-wrap{padding: 0;}.product-detailed-wrapper .details-wrap .info-head{font-size: 3.125rem; line-height: 3.75rem; display: block;}.product-detailed-wrapper .details-wrap .sub-info{font-size: 1.875rem; line-height: 2.5rem; display: block;}}</style>
<div>
   <div class='product-detailed-wrapper clearfix'>
      <div class='cols-xs'>
         <h3 class='head-title'>Highlights</h3>
         <div class='list-wrap'>
            <ul class='list-wrapper clearfix pb-3x'>
               <li class='list'> <span class='title'>LTE 4G</span> <span class='info'>Retina display</span> </li>
               <li class='list'> <span class='title'>LAN x4</span> <span class='info'>Fusion Chip</span> </li>
               <li class='list'> <span class='title'>64 users</span> <span class='info'>Supported users</span> </li>
            </ul>
         </div>
      </div>
      <div class='cols-xs'>
         <div class='img-wrap'> <img src='https://i.ibb.co/5jm5hpy/9090-m-3x.png' class='img-fluid'/> </div>
      </div>
   </div>
   <div class='product-detailed-wrapper clearfix white-bg'>
      <div class='cols-xs'>
         <h3 class='head-title pb-3rem'> Fast data <br/> transmission LTE. </h3>
         <div class='text-wrap pb-4rem'>
            <p> The advanced security and convenience of Touch ID are now built right into MacBook Air. Simply place your finger on the Touch ID. </p>
         </div>
         <div class='details-wrap hidden-xs visible-lg'> <span class='info-head'>300 Mb/s</span> <span class='sub-info'>Data download (Speed)</span> </div>
      </div>
      <div class='cols-xs'>
         <div class='img-wrap'> <img src='https://i.ibb.co/5jm5hpy/9090-m-3x.png' class='img-fluid'/> </div>
         <div class='details-wrap hidden-lg visible-xs'> <span class='info-head'>300 Mb/s</span> <span class='sub-info'>Data download (Speed)</span> </div>
      </div>
   </div>
   <div class='product-detailed-wrapper clearfix white-bg'>
      <div class='cols-xs cols-md-push-left'>
         <h3 class='head-title pb-3rem'> 2 external antenna <br/> connectors. </h3>
         <div class='text-wrap pb-4rem'>
            <p> The advantage of the router is the presence of two outputs for external antennas. It is possible to set each antenna in a different direction and improve the signal quality. </p>
         </div>
      </div>
      <div class='cols-xs cols-md-pull-right pr-8rem'>
         <div class='img-wrap'> <img src='https://i.ibb.co/5jm5hpy/9090-m-3x.png' class='img-fluid'/> </div>
      </div>
   </div>
   <div class='product-detailed-wrapper clearfix white-bg'>
      <div class='cols-xs'>
         <h3 class='head-title pb-3rem'>4 LAN ports.</h3>
         <div class='text-wrap pb-4rem'>
            <p> The Huawei B525s router allows connecting up to four devices using a standard LAN port. This is an ideal proposition for people who often work in the field and need to provide mobile internet for several devices at the same time. </p>
         </div>
      </div>
      <div class='cols-xs clearfix d-flex'>
         <div class='cols-6-xs float-left pr-15px'>
            <div class='img-wrap'> <img src='https://i.ibb.co/5jm5hpy/9090-m-3x.png' class='img-fluid'/> </div>
         </div>
         <div class='cols-4-xs float-left'>
            <ul class='list-wrapper clearfix'>
               <li class='mb-3rem'>
                  <div class='details-wrap'> <span class='info-head'>64 Users</span> <span class='sub-info'>Supported Users</span> </div>
               </li>
               <li class='mb-3rem'>
                  <div class='details-wrap'> <span class='info-head'>Web browser</span> <span class='sub-info'>Service and configuration</span> </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
