<style>.clearfix:after{content: ' '; visibility: hidden; display: block; height: 0; clear: both;}.product-detailed-dark-wrapper{background: #f6f6f6; padding: 0 2.5rem;}.product-detailed-dark-wrapper .pb-3x{padding-bottom: 3.75rem;}.product-detailed-dark-wrapper .mt-8rem{margin-top: 8rem;}.product-detailed-dark-wrapper.white-bg{background: #fff;}.product-detailed-dark-wrapper.black-bg{background: #000;}.product-detailed-dark-wrapper .cols-xs{width: 100%; float: left;}.product-detailed-dark-wrapper .cols-xs .cols-6-xs{width: 70%;}.product-detailed-dark-wrapper .cols-xs .cols-4-xs{width: 30%;}.product-detailed-dark-wrapper .cols-xs .cols-5-xs{width: 50%;}.product-detailed-dark-wrapper .head-title{font-size: 5rem; padding: 8rem 0rem; color: #fff; font-weight: 900;}.product-detailed-dark-wrapper .head-title.pb-3rem{padding-bottom: 3rem;}.product-detailed-dark-wrapper .list-wrapper .list{width: 50%; float: left; margin-bottom: 3.75rem;}.product-detailed-dark-wrapper .list-wrapper .list:last-child{margin-bottom: 0;}.product-detailed-dark-wrapper .list-wrapper .list .title, .product-detailed-dark-wrapper .list-wrapper .list .info{display: block;}.product-detailed-dark-wrapper .list-wrapper .list .title{font-size: 3.75rem; line-height: 3.75rem; color: #a3a3a3; font-weight: 600;}.product-detailed-dark-wrapper .list-wrapper .list .info{color: #a3a3a3; font-size: 2rem; line-height: 3rem;}.product-detailed-dark-wrapper .img-wrap{padding: 4rem 0 8rem;}.product-detailed-dark-wrapper .img-wrap .img-fluid{width: 100%; max-height: 500px;}.product-detailed-dark-wrapper .text-wrap p{color: #a3a3a3; line-height: 3rem; font-size: 2.25rem;}.product-detailed-dark-wrapper .details-wrap{padding: 0;}.product-detailed-dark-wrapper .details-wrap .info-head{color: #fff; font-size: 2.5rem; line-height: 3rem; display: block;}.product-detailed-dark-wrapper .details-wrap h5, .product-detailed-dark-wrapper .details-wrap p{color: #a3a3a3; font-size: 2.5rem; line-height: 3rem; display: block;}.product-detailed-dark-wrapper .details-wrap .sub-info{color: #a3a3a3; font-size: 1.5rem; line-height: 2rem; display: block;}.product-detailed-dark-wrapper .pb-4rem{padding-bottom: 4rem;}.product-detailed-dark-wrapper .float-left{float: left;}.product-detailed-dark-wrapper .pr-15px{padding-right: 15px;}.product-detailed-dark-wrapper .mb-3rem{margin-bottom: 3rem;}.product-detailed-dark-wrapper .hidden-xs{display: none;}.product-detailed-dark-wrapper .visible-xs{display: block;}.product-detailed-dark-wrapper .d-flex{display: flex; align-items: center; flex-wrap: wrap;}.product-detailed-dark-wrapper .pr-8rem{padding-right: 8rem;}.product-detailed-dark-wrapper .cols-xs.cols-md-pull-right.pr-8rem{padding-right: 0rem;}.pb-none{padding-bottom: 0 !important;}@media (min-width: 768px){.product-detailed-dark-wrapper{padding: 8rem 2.5rem;}.product-detailed-dark-wrapper .cols-xs{width: 50%; position: relative;}.product-detailed-dark-wrapper .cols-xs.cols-md-push-left{left: 50%;}.product-detailed-dark-wrapper .cols-xs.cols-md-pull-right{right: 50%;}.product-detailed-dark-wrapper .cols-xs.cols-md-pull-right.pr-8rem{padding-right: 8rem;}.product-detailed-dark-wrapper .cols-xs.cols-md-pull-right.pr-8rem .img-wrap{padding-left: 0rem;}.product-detailed-dark-wrapper .visible-lg{display: block;}.product-detailed-dark-wrapper .hidden-lg{display: none;}.product-detailed-dark-wrapper .img-wrap{padding: 0 3rem;}.product-detailed-dark-wrapper .text-wrap p{line-height: 3.125rem; font-size: 2.8125rem; padding-right: 4rem;}.product-detailed-dark-wrapper .details-wrap{padding: 0;}.product-detailed-dark-wrapper .details-wrap .info-head{font-size: 3.125rem; line-height: 3.75rem; display: block;}.product-detailed-dark-wrapper .details-wrap .sub-info{font-size: 1.875rem; line-height: 2.5rem; display: block;}}</style>
<div>
   <div class='product-detailed-dark-wrapper clearfix black-bg'>
      <div class='cols-xs'>
         <h3 class='head-title'>Highlights</h3>
         <div class='list-wrap'>
            <ul class='list-wrapper clearfix pb-3x'>
               <li class='list'> <span class='title'>7MP</span> <span class='info'>Rear Camera</span> </li>
               <li class='list'> <span class='title'>iOS</span> <span class='info'>Operative System</span> </li>
               <li class='list'> <span class='title'>12MP</span> <span class='info'>Back Camera</span> </li>
               <li class='list'> <span class='title'>6.1”</span> <span class='info'>Touchscreen</span> </li>
            </ul>
         </div>
      </div>
      <div class='cols-xs'>
         <div class='img-wrap pb-none'> <img src='https://i.ibb.co/k8nbdLS/Screen-Shot-2019-03-08-at-3-00-38-PM.png' class='img-fluid'/> </div>
      </div>
   </div>
   <div class='product-detailed-dark-wrapper clearfix black-bg'>
      <div class='cols-xs cols-md-push-left'>
         <h3 class='head-title pb-3rem'> Introducing <br/> Liquid Retina </h3>
         <div class='text-wrap pb-4rem'>
            <p> The new display on iPhone XR is the most advanced LCD in the industry. An innovative backlight design allows the screen to stretch into the corners. So you see true-to-life color from one beautiful edge to the other. </p>
         </div>
      </div>
      <div class='cols-xs cols-md-pull-right d-flex'>
         <div class='cols-5-xs float-left'>
            <ul class='list-wrapper clearfix'>
               <li class='mb-3rem'>
                  <div class='details-wrap'> <span class='info-head'>1792x828</span> <span class='sub-info'>Resolution</span> </div>
               </li>
               <li class='mb-3rem'>
                  <div class='details-wrap'> <span class='info-head'>326px</span> <span class='sub-info'>Per Inch</span> </div>
               </li>
            </ul>
         </div>
         <div class='cols-5-xs float-left pr-15px'>
            <div class='img-wrap'> <img src='https://i.ibb.co/1Jr9bhw/Screen-Shot-2019-03-08-at-3-10-25-PM.png' class='img-fluid'/> </div>
         </div>
      </div>
   </div>
   <div>
      <div class='product-detailed-dark-wrapper clearfix black-bg'>
         <div class='cols-xs'>
            <h3 class='head-title pb-3rem'> Exceptional <br/> Materials </h3>
            <div class='text-wrap pb-4rem'>
               <p> The most durable front glass ever in a smartphone. Precision-machined, aerospace-grade aluminum bands. Water and dust resistance. </p>
            </div>
            <div class='details-wrap hidden-xs visible-lg'>
               <h5>Seven-layer color process</h5>
               <p class='pb-3x'> The beautiful finishes of the back glass are achieved using an advanced process that allows for deep, rich colors. </p>
               <h5>Aerospace-grade aluminum bands </h5>
               <p class='pb-3x'> A special Apple‑designed alloy is precision‑ machined to create structural bands, and anodized to complement the color of the back glass. </p>
               <h5>Wireless charging</h5>
               <p class='pb-3x'> The glass back allows iPhone XR to charge easily and wirelessly. </p>
            </div>
         </div>
         <div class='cols-xs'>
            <div class='img-wrap'> <img src='https://i.ibb.co/dfYzTvK/Screen-Shot-2019-03-08-at-3-33-08-PM.png' class='img-fluid'/> </div>
            <div class='details-wrap hidden-lg visible-xs'>
               <h5>Seven-layer color process</h5>
               <p class='pb-3x'> The beautiful finishes of the back glass are achieved using an advanced process that allows for deep, rich colors. </p>
               <h5>Aerospace-grade aluminum bands </h5>
               <p class='pb-3x'> A special Apple‑designed alloy is precision‑ machined to create structural bands, and anodized to complement the color of the back glass. </p>
               <h5>Wireless charging</h5>
               <p class='pb-3x'> The glass back allows iPhone XR to charge easily and wirelessly. </p>
            </div>
         </div>
      </div>
      <div class='product-detailed-dark-wrapper clearfix black-bg'>
         <div class='cols-xs cols-md-push-left'>
            <h3 class='head-title pb-3rem'> Face ID: Your face is your password </h3>
            <div class='text-wrap pb-4rem'>
               <p> Face ID reinvented the way we unlock, log in, and pay. Some of our most sophisticated technologies — the TrueDepth camera system, the Secure Enclave, and the Neural Engine — make it the most secure facial authentication ever in a smartphone. And even faster and easier to use. </p>
            </div>
         </div>
         <div class='cols-xs cols-md-pull-right pr-8rem'>
            <div class='img-wrap'> <img src='https://i.ibb.co/Cb2frrs/Screen-Shot-2019-03-08-at-4-45-18-PM.png' class='img-fluid'/> </div>
         </div>
      </div>
      <div class='product-detailed-dark-wrapper clearfix black-bg'>
         <div class='cols-xs'>
            <h3 class='head-title pb-3rem'>The greater depth you feel.</h3>
            <div class='text-wrap pb-4rem'>
               <p> An entirely new perception of distance. The high resolution of the Samsung QLED 8K Q900R shows even the smallest detail in each scene, giving you more depth and immersing you further in a new 8K reality. </p>
            </div>
         </div>
         <div class='cols-xs'>
            <div class='img-wrap'> <img src='https://i.ibb.co/LkkXGWc/Screen-Shot-2019-03-08-at-4-55-06-PM.png' class='img-fluid'/> </div>
         </div>
      </div>
   </div>
   <div>
      <div class='product-detailed-dark-wrapper clearfix black-bg'>
         <div class='cols-xs cols-md-push-left'>
            <h3 class='head-title pb-3rem'> Breakthrough <br/> Camera System </h3>
            <div class='text-wrap pb-4rem'>
               <p> The world’s most popular camera is defining a new era of photography. Where an innovative sensor works with the ISP and Neural Engine to help you create photos like never before. </p>
            </div>
         </div>
         <div class='cols-xs cols-md-pull-right d-flex pr-8rem'>
            <div class='list-wrap'>
               <ul class='list-wrapper clearfix pb-3x mt-8rem'>
                  <li class='list'> <span class='title'>50%</span> <span class='info'>Faster Graphics Performance</span> </li>
                  <li class='list'> <span class='title'>50%</span> <span class='info'>Faster Graphics Performance</span> </li>
                  <li class='list'> <span class='title'>8-Core</span> <span class='info'>Neutral Engine</span> </li>
                  <li class='list'> <span class='title'>8-Core</span> <span class='info'>Neutral Engine</span> </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
