#binkies-on-page.outOfStock{
  opacity: 0.6!important;
}
.binkies-barcontainer{
  height: 37px;
  width: 100%;
  max-width: 65px;
  margin: 0;
  margin-left: auto;
}
.binkies-barcontainer .binkies-bar .binkies-navmodecontainer{
  display: none;
}
.binkies-barcontainer .binkies-bar .binkies-reset{
  display: none;
}
.binkies-barcontainer .binkies-button.binkies-enterfullscreen,
.binkies-barcontainer .binkies-button.binkies-exitfullscreen{
  right: 7px;
  top: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
}
.binkies-barcontainer .binkies-button.enabled:hover,
.binkies-barcontainer .binkies-button.enabled:focus{
  background-color: rgba(255,255,255,0.5);
  border:1px solid transparent;
}
.binkies-bookmark{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 1.5rem;
}
.binkies-gallery {
  position: absolute;
  top: 6px;
  margin-right: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#binkies-scene {
  bottom: 0;
}

@media only screen and (max-width: 767px){
  #binkies-on-page.outOfStock{
    opacity: 0.4!important;
  }
}

